# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore duplicate images at the root directory
/image copy*.png
/image*.png
/ChatGPT*.png
# Ignore large video assets
*.mp4
*.MP4
!public/*.mp4
!public/*.MP4
